.container {
    max-width: 500px;
    width: 100%;
    .displayFlex(center, center);
    flex-flow: column nowrap;
    position: relative;

    .cta-body{
        background-image: url(undraw_reading_0re1.png);
        background-repeat: no-repeat;
        background-position: right top;
        background-attachment: fixed;

        .background-img{
            width: 100%;
        }
    }

    .main-content{
        display: none;
    }
}